<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mock Social</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@coding-blocks/bootstrap@4.5.2/dist/css/bootstrap.min.css" integrity="sha384-qQEE8jdKJvtljxvtgWREfDOl721Sa1Qs8a1huL0PjJo3duiJ2wXnwTIRnbd/cTjY" crossorigin="anonymous">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

 
</head>
<script
 src="https://code.jquery.com/jquery-3.5.1.js"
 integrity="" crossorigin="anonymous"></script>

<style>
    .eachuser{
        display:flex;
        flex-direction: row;
    }
    .uppercontainer{
        background-color: rgb(240, 231, 231);
    }
</style>

<body>
   

<div class="container  my-4">
 <div class="row">
   <div class="col-md-3">

   </div>
   
<div class="col-md-8 uppercontainer" >

   <% for(let u of userdata){ %>
    <div class="container">
        <div class="row">
       <div class="col-md-10">
       <div class="eachuser">
           <div>
               <% if(u.avatar==null){ %>
        <img src="anonymous.jpg" width="60" height="60" style="border-radius: 50%;">
    <% } else { %>

        <img src="images/upload_images/<%=u.username %><%= u.avatar %> " width="60" height="60" style="border-radius: 50%;">
        <% } %>
    
    </div>
    <div class="my-2">
        <a href="/specificuser?username=<%= u.username %>" class="my-2 ml-2"><b><%= u.username %></b></a><br>
        <b class="my-2 ml-2">lived in <%= u.city %></b>
      
    </div>
        </div>
        </div>
        <% let a=hash1.has(u.id)  %>
        <% if(!a){ %> 
        <div class="col-md-2 my-2">
        <button class="btn btn-primary mr-0 addfriend" id="<%= u.id  %>"><i class="fas fa-user-plus"></i></button>
    </div>
   <% } %>
       </div>  
    </div>
    <hr>
    
    <% } %>


    
</div>

</div>
</div>





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@coding-blocks/bootstrap@4.5.2/dist/js/bootstrap.min.js" integrity="sha384-5kiNX2pRMEoJOeg8N1XzHzWAotDv8A4fZW6cFGvsDgSZmMuECwtOeZ1ta0eO7DBD" crossorigin="anonymous"></script>
<script src="js/search.js"></script>



</body>
</html>